@model IntroToWebApps5.Core5.Models.Person

@{ ViewData["Title"] = "Index"; }


<!DOCTYPE html>
<head>
    <title>An introduction to ASP.NET MVC Core</title>
</head>
<body>
    <h1>About Me</h1>
    <h3>Boning Yang</h3>
    <h3>040980629</h3>
    <h3>yang0299@algonquinlive.com</h3>
    <p>
        My name is Boning Yang, who is in level 5 of Computer Science Techonology.<br /><br />
        In this course I think we can earn a lot of experience about how to make a well connection between software and webform<br /><br />
    </p>
    <ol>
        <li>
            C# is a strongly or loosely typed language?
            <ul>
                <li>
                    C# is a strongly typed language<br /><br />
                </li>
            </ul>
        </li>

        <li>
            What is a ‘Property’ in C# as it relates to classes and objects
            <ul>
                <li>
                    Set and Get<br /><br />
                </li>
            </ul>
        </li>
        <li>
            Describe the MVC design pattern.
            <ul>
                <li>
                    MVC Pattern stands for Model-View-Controller Pattern. This pattern is used to separate application's concern.<br /><br />
                </li>
            </ul>
        </li>
        <li>
            Compare ASP.NET WebForms to ASP.NET MVC
            <ul>
                <li>
                    ASP.Net MVC is an open source, ASP.Net Web Form is not an open source<br />
                </li>
                <li>
                    ASP.NET MVC is smaller than WebForms less reliance on the websever to process interactions<br />
                </li>
                <li>
                    Web application and their structures remain largely unchanged in the transition from MVC 5 to MVC Core
                    <br /><br />
                </li>
            </ul>
        </li>
        <li>
            What is .NET Core?
            <ul>
                <li>
                    It is a free open-sourcem managed computer software framwork for Windows, Linux and macOS operating systems.<br /><br />
                </li>
            </ul>

        </li>
        <li>
            Open the Person object in the Models Folder. The properties FirstName and LastName have square brackets above them. These statements have a name, what is it? What do these brackets do?
            <ul>
                <li>
                    It is a declarative tag, it is used for the attributes to indicate wheter a class is serializable.<br /><br />
                </li>
            </ul>
        </li>
        <li>
            Where do we store ‘static’ content in an MVC application?
            <ul>
                <li>
                    We usually store in the default project's web root directory.<br /><br />
                </li>
            </ul>
        </li>
        <li>
            Describe the purpose of the Program.cs class in this project.
            <ul>
                <li>
                    Program.cs creates the application Host and configures the settings.<br /><br />
                </li>
            </ul>
        </li>
        <li>
            Describe the purpose of the Startup.cs class in this project.
            <ul>
                <li>
                    It is an file to handle Application level event in ASP.NET application. Startup class is in OWIN application which is a specification to reduce dependency of application on server.<br /><br />
                </li>
            </ul>
        </li>
        <li>
            MVC Core applications can ‘host’ themselves: true of false.
            <ul>
                <li>
                    True<br /><br />
                </li>
            </ul>
        </li>
        <li>
            Name the language used to programmatically render HTML in MVC applications.
            <ul>
                <li>
                    C#<br /><br />
                </li>
            </ul>
        </li>

        <li>
            Mention two ways of passing data from controller to view.
            <ul>
                <li>
                    By using ViewBag and ViewData
                </li>
            </ul>
        </li>
    </ol>
</body>
</html>


@if (Model != null)
{@(ViewData["Message"])
                <br /> @(Model.FirstName + " " + Model.LastName)}